<div class="card text-center" id="<%= dom_id account %>">
  <div class="card-header"> 
    <%= account.user.username %> 
  </div>
  <div class="card-body">
    <p>
      <strong>Number:</strong>
      <%= account.number %>
    </p>

    <p>
      <strong>Money:</strong>
      <%= number_to_currency(account.money) %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= account.status %>
    </p>
  
 
 
    <% if account.status == "locked" or account.status == "blocked"  %> 
        <%= link_to "Activate account", change_account_status_path(account.number), class: "btn btn-success" %>
     <%else%>
      <%= link_to "Take money", withdraw_account_path(account.number), class: "btn btn-info"%>
      <%= link_to "Transfer money", transference_path(account.number), class: "btn btn-info"%>
      <%= link_to "lock account", change_account_status_path(account.number), class: "btn btn-danger" %> 
    <%end%>
 
  <hr>

  </div>

</div>
