<div id="<%= dom_id account %>">
  <p>
    <strong>Number:</strong>
    <%= account.number %>
  </p>

  <p>
    <strong>Money:</strong>
    <%= account.money %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= account.status %>
  </p>

  <p>
    <strong>User:</strong>
    <%= account.user_id %>
  </p>

</div>
