<div id="<%= dom_id account %>">
  <p>
    <strong>Number:</strong>
    <%= account.number %>
  </p>

  <p>
    <strong>Money:</strong>
    <%= number_to_currency(account.money) %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= account.status %>
  </p>

  <p>
    <strong>User:</strong>
    <%= account.user.username %>
  </p>
  <p>
    <%= link_to "Take money", withdraw_path(account.number), class: "btn btn-info"%>
  </p>
    <p>
    <%= link_to "Transfer money", transference_path(account.number), class: "btn btn-info"%>
  </p>
  <hr>

</div>
