<%= form_with(model: account) do |form| %>
  <% if account.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="container col-sm-6">
  <div class="form-group">
    <%= form.label :money, style: "display: block" %>
    <%= form.text_field :money, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.hidden_field :status, value: "activated", class:"form-controle" %>
  </div>
  <div>
    <%= form.submit @button_name, class: "btn btn-info form-controls my-2 col-sm-12" %>
  </div>
</div>

<% end %>
