<h1>Transfer money to another account</h1>
<h2>Your money avalible: <%= number_to_currency(@account.money) %> </h2>

<%= form_with url: "/accounts/"+@account.number.to_s+"/transference_now", method: :post do |form| %>
    <%= form.label :money, "Money" %> <br>
    <%= form.text_field :money %> <br>

    <!-- Origin send  from -->
    <%= form.hidden_field :number, value: @account.number%> <br>

    <!--Destination send to-->
    <%= form.label :destination_account, "Send to (account number)" %> <br>
    <%= form.number_field :destination_account%> <br>
    <%= form.submit @button_name %>
<% end %>