 <div class="text-center">   
    <h2>Transfer money to another account</h1>
    <h3>Your money avalible: <%= number_to_currency(@account.money) %> </h2>
</div>
<div class= "container col-sm-6" >
<%= form_with url: "/accounts/"+@account.number.to_s+"/transference_now", method: :post do |form| %>
   <div class="form-group "> 
        <%= form.label :money, "Money" %>
        <%= form.text_field :money, class: "form-control" %>

        <!-- Origin send  from -->
        <%= form.hidden_field :number, value: @account.number%> 

        <!--Destination send to-->
        <%= form.label :destination_account, "Send to (account number)" %> 
        <%= form.number_field :destination_account, class: "form-control"%>
        <%= form.submit @button_name, class: "btn btn-info form-controls my-2 col-sm-12" %>
    </div>
<% end %>
</div>
